<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <p class="h2 text-center mt-5">登录</p>
        <form class="form-horizontal" action="{:url('/login/login')}" method="post">
            {:token_field()}
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" name="username" value="">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" value="">
            </div>
            <button type="submit" class="btn btn-primary">确认</button>
        </form>
    </div>
</body>
</html>